.diagrama {
  /*   background-image: '.img/Atalaia.bmp';
 */
  background-repeat: no-repeat;
  border-radius: '10px';
  /*   width: '1000px';
 */
  margin: 'auto';
  /*   position: 'relative';
      height: '750px';
 */
  object-fit: contain;
}
