h1 {
  color: aliceblue;
}

.image-container {
  position: relative;
  background-color: beige;

  width: auto;
  height: 750px;
  display: flex;
  justify-content: center;
}

.image-inner-container {
  position: absolute;
  margin: 20px;
}
.disjuntor {
  width: 25px;
  height: 25px;
  background: blue;
  position: absolute;
  border: 2px solid black;
  margin: 0;
}
